In [1]:
import pandas as pd

In [13]:
import pdal
import json

# Path to your .copc.laz file
input_file = "/home/ubuntu/project/destine-godot-mvp/LHD_FXX_0648_6863_PTS_O_LAMB93_IGN69.copc.laz"

# Define a PDAL pipeline to read the file
pipeline = {
    "pipeline": [
        {
            "type": "readers.las",
            "filename": input_file
        }
    ]
}

# Convert the pipeline to JSON format
pipeline_json = json.dumps(pipeline)

# Initialize the PDAL pipeline
p = pdal.Pipeline(pipeline_json)

# Execute the pipeline
count = p.execute()

# Extract the point cloud data
arrays = p.arrays

# Convert to a Pandas DataFrame (optional)
import pandas as pd
df = pd.DataFrame(arrays[0])

# # Display the first few rows
# print(df.head())

# # Save to a CSV file (optional)
# df.to_csv("output.csv", index=False)

In [14]:
df

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,Synthetic,KeyPoint,Withheld,Overlap,ScanAngleRank,UserData,PointSourceId,GpsTime,ScanChannel
0,648313.16,6862312.86,32.20,159,2,2,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
1,648314.85,6862312.62,32.25,763,2,2,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
2,648315.20,6862312.80,32.27,2570,1,1,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
3,648314.37,6862313.35,32.22,1020,2,2,1,0,2,0,0,0,0,-12.444,0,42,3.618936e+08,0
4,648313.85,6862314.03,32.21,341,2,2,1,0,2,0,0,0,0,-12.456,0,42,3.618936e+08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16339234,648999.85,6862377.28,45.10,408,2,2,0,0,6,0,0,0,0,-1.596,0,41,3.619011e+08,0
16339235,648997.30,6862301.77,46.21,308,2,2,0,0,6,0,0,0,0,0.162,0,41,3.619011e+08,0
16339236,648998.66,6862265.05,43.00,655,1,1,0,0,6,0,0,0,0,1.032,0,41,3.619011e+08,0
16339237,648996.63,6862330.73,38.46,555,1,1,0,0,1,0,0,0,0,-0.504,0,41,3.619011e+08,0
16339238,648997.24,6862272.80,32.90,650,1,1,0,0,2,0,0,0,0,0.846,0,41,3.619011e+08,0

In [15]:
df[0:100] = df[0:100]

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,Synthetic,KeyPoint,Withheld,Overlap,ScanAngleRank,UserData,PointSourceId,GpsTime,ScanChannel
0,648313.16,6862312.86,32.20,159,2,2,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
1,648314.85,6862312.62,32.25,763,2,2,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
2,648315.20,6862312.80,32.27,2570,1,1,1,0,2,0,0,0,0,-12.432,0,42,3.618936e+08,0
3,648314.37,6862313.35,32.22,1020,2,2,1,0,2,0,0,0,0,-12.444,0,42,3.618936e+08,0
4,648313.85,6862314.03,32.21,341,2,2,1,0,2,0,0,0,0,-12.456,0,42,3.618936e+08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,648318.60,6862320.82,32.11,3652,1,1,1,0,2,0,0,0,0,-12.600,0,42,3.618936e+08,0
96,648327.86,6862315.22,33.00,3269,1,1,1,0,2,0,0,0,0,-12.480,0,42,3.618936e+08,0
97,648327.01,6862315.82,32.81,3727,1,1,1,0,2,0,0,0,0,-12.498,0,42,3.618936e+08,0
98,648325.27,6862316.97,32.61,3717,1,1,1,0,2,0,0,0,0,-12.522,0,42,3.618936e+08,0
99,648324.41,6862317.53,32.52,3636,1,1,1,0,2,0,0,0,0,-12.534,0,42,3.618936e+08,0

In [22]:
lenght = int(15 * len(df) / 100)
lenght

2450885

In [23]:
len(df) - 2450885

13888354

In [24]:
df = df[:lenght]

In [25]:
df[["X", "Y", "Z"]].to_csv("LHD_FXX_0648_6863_PTS_O_LAMB93_IGN69.txt", sep=" ", index=False, header=False)