# IGN HD liDAR PCD Generation

In [3]:
import sys
import os
sys.path.append('../src/util/')
from general import IGNLidarProcessor, PointCloudHandler


input_file = "../src/dem-data/LHD_FXX_0982_6524_PTS_C_LAMB93_IGN69.copc.laz"
sample_fraction = 0.2

processor = IGNLidarProcessor(input_file)
processor.read_point_cloud()
processor.transform_coordinates()
processor.generate_color()


handler = PointCloudHandler(processor.df)
handler.downsample(sample_fraction=sample_fraction)
handler.to_open3d()
handler.save_point_cloud(filename="IGN_LiDAR_HD.ply")

Point cloud downsampled with sample fraction 0.2
Point cloud saved to IGN_LiDAR_HD.ply

In [4]:
import sys
import os
sys.path.append('../src/util/')
from general import Sentinel2Reader, load_dem_utm, PcdGenerator, PointCloudHandler
token = os.environ.get('hdb_token')
product_path = "/home/ubuntu/project/destine-godot-mvp/src/sentinel2-data/T32TLR_20241030T103151_TCI_20m.jp2"
reader = Sentinel2Reader(filepath=product_path, preprocess=True)
bounds = reader.bounds
width = reader.width
height = reader.height
parameter = 'dem'
dem_data = load_dem_utm(token, parameter, bounds, width, height)
# Initialize and generate point cloud
pcd_gen = PcdGenerator(reader.data, dem_data, sample_fraction=5)
pcd_gen.generate_point_cloud()

Total points before sampling: 30140100
Sampled points: 1507005

In [ ]:
import pandas as pd
data = pd.concat([pcd_gen.df, processor.df], axis=0)

handler = PointCloudHandler(data)
handler.downsample(sample_fraction=sample_fraction)
handler.to_open3d()
handler.save_point_cloud(filename="IGN_LiDAR_HD.ply")

,x,y,z,color,classification
0,300010.000000,4.990210e+06,2474.875,"(116, 95, 79)",NaN
1,300030.000000,4.990210e+06,2468.250,"(112, 91, 73)",NaN
2,300050.000000,4.990210e+06,2459.250,"(128, 107, 88)",NaN
3,300070.000000,4.990210e+06,2448.500,"(139, 113, 94)",NaN
4,300090.000000,4.990210e+06,2435.250,"(143, 123, 104)",NaN
...,...,...,...,...,...
33210848,315583.085407,5.068814e+06,1743.790,"(255, 127, 14)",3.0
33210849,315580.806897,5.068815e+06,1743.520,"(31, 119, 180)",2.0
33210850,315547.930500,5.068845e+06,1735.670,"(255, 127, 14)",3.0
33210851,315539.459305,5.068842e+06,1740.040,"(31, 119, 180)",2.0
33210852,315550.504155,5.068821e+06,1748.080,"(31, 119, 180)",2.0

                      x             y        z  classification           color
0         315679.346779  5.069587e+06  1617.46               2  (31, 119, 180)
1         315686.236590  5.069588e+06  1612.30               2  (31, 119, 180)
2         315684.084498  5.069587e+06  1613.96               3  (255, 127, 14)
3         315682.723714  5.069587e+06  1617.51               5   (214, 39, 40)
4         315679.708940  5.069587e+06  1617.06               3  (255, 127, 14)
...                 ...           ...      ...             ...             ...
33210848  315583.085407  5.068814e+06  1743.79               3  (255, 127, 14)
33210849  315580.806897  5.068815e+06  1743.52               2  (31, 119, 180)
33210850  315547.930500  5.068845e+06  1735.67               3  (255, 127, 14)
33210851  315539.459305  5.068842e+06  1740.04               2  (31, 119, 180)
33210852  315550.504155  5.068821e+06  1748.08               2  (31, 119, 180)

[33210853 rows x 5 columns]